.modal-body{
    &__infor{
        .head{
            text-align: center;
            img{
                width: 60px;
            }
            i{
                cursor: pointer;
            }
        }
    }
}