// sm < 576, small >= 576, medium >= 768
// large >= 992, extra >= 1200
$ex-sm: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$ex-lg: 1200px;
$border:rgb(231, 225, 225);
$active-bg: rgb(1, 206, 206);
$hover-bg: rgb(152, 248, 248);
.row{
    .menu{
        display:flex;
        flex-direction: column;
        background-color: aqua;
        min-height: 100vh;
        width: 100%;
        .logo{
            margin:10px 0;
            img{
                width:50px; 
                border:1px solid $border;
            }
        }
    
        ul.control{
            li{
                text-align: center;
                font-size: 2em;
                &:hover:not(.logo){
                    background-color: $hover-bg;
                }
            }
            li.active:not(.logo){
                background-color: $active-bg !important;
    
            }
        }
    }
}
.tag-member{
    display:flex;
    justify-content: space-between;
    padding:10px 5px;
    margin:5px 0;
    color:black !important;
    &:hover{
        background-color: rgb(226, 226, 226);
        & .right{
            opacity: 1;
        }
    }
    .left{
        display: flex;
        img{
            width:40px;
        }
        .text{
            .name{
                font-weight: bold;
            }
            .role{
                font-style: italic;
            }
            margin-left:4px;
            font-size: .8em;
        }
    }
    .right{
        cursor: pointer;
        transition: .3s;
        align-self: flex-end;
        opacity: 0;
        overflow: auto;
        z-index: 999;
        &:hover{
            & .overflow_control {
                display:block;
            }
        }
        .dot_control:hover{
            cursor: pointer;
            & + .overflow_control {
                display:block;
            }
        }
        .overflow_control{
            &:hover{
                display: block;
                right:5px;
            }
            font-size: .6em;
            cursor: pointer;
            display:none;
            position: absolute;
            right:5px;
        }
    }
}

@media screen and (max-width: $ex-sm ), (min-width: $ex-sm ) and (max-width:$md){
    .row{
        flex-direction: column-reverse;
        .control{
            position: fixed;
            bottom: 0;
            left:0;
            background-color: aqua;
            .menu{
                flex-direction: row;
                min-height: 100%;
                min-width: 100vh;
                .logo{
                    margin:10px 0;
                    img{
                        width:50px;
                    }
                }
                ul.control{
                    width:100%;
                    flex-direction: row;
                    li{
                        margin-left:10px;
                        padding:0 14px;
                    }
                    li:not(.logo){
                        margin-left:20px;
                    }
                }
            } 
        }
        .display{
            min-height: 100vh;
        }
        .content{
            display:none;           
        }
    }     
}